@using NewsPortal.ViewModels
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
}


<body>
	<div  id="main">
		
			<section id="loginForm" class="box-content">
				<div class="text-right">
					@Html.ActionLink("Don't have an account? Register as a new user", "Register")
				</div>
				@using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
				{
					@Html.AntiForgeryToken()

					@Html.ValidationSummary(true, "", new { @class = "text-danger" })
					<h4>Log in.</h4>
					@Html.ValidationSummary("", new { @class = "text-danger" })
					<div class="box">
						<div class="form-group">
							@Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
							<div class="col-md-10">
								@Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
							</div>
						</div>
						<div class="form-group">
							@Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
							<div class="col-md-10">
								@Html.PasswordFor(m => m.Password, new { @class = "form-control" })
							</div>
						</div>
						<div class="form-group">
							<div class="col-md-offset-2 col-md-10">
								<input type="submit" class="button big fit" value="Log in" />
							</div>
						</div>
					</div>
				}					
			</section>
		</div>
</body>
