@model Domain.Author

@{
    ViewBag.Title = "Details";
}


<div id="main">
    <h2>Author Details</h2>
    <hr />
	
	<div class="table-wrapper">
		<table class="alt">
			<tbody>
				<tr>
					<td>@Html.DisplayNameFor(model => model.FirstName)</td>
					<td>@Html.DisplayFor(model => model.FirstName)</td>
				</tr>
				<tr>
					<td>@Html.DisplayNameFor(model => model.LastName)</td>
					<td>@Html.DisplayFor(model => model.LastName)</td>
				</tr>
				<tr>
					<td>@Html.DisplayNameFor(model => model.UserName)</td>
					<td>@Html.DisplayFor(model => model.UserName)</td>
				</tr>
				<tr>
					<td>@Html.DisplayNameFor(model => model.Age)</td>
					<td>@Html.DisplayFor(model => model.Age)</td>
				</tr>
				<tr>
					<td>@Html.DisplayNameFor(model => model.Rating)</td>
					<td>@Html.DisplayFor(model => model.Rating)</td>
				</tr>
				<tr>
					<td>@Html.DisplayNameFor(model => model.Role)</td>
					<td>@Html.DisplayFor(model => model.Role)</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>




