@model IEnumerable<NewsPortal.Models.News>

@{
    ViewBag.Title = "Home Page";
}

<div id="main">
    @foreach (var item in Model)
    {

        <article class="post" >
            <header>
                <div class="title">
					<h2>@Html.ActionLink(item.Topic, "FullNews", "News", new { id = item.Id }, null)</h2>
                </div>
                <div class="meta">
                    <time class="published" datetime="2015-11-01">@Html.DisplayFor(x => item.CreationDate)</time>
                    <a href="#" class="author">@Html.ActionLink(item.Author.UserName, "Details", "Authors", new { id = item.AuthorId, @class = "name" }, null)<img src="~/images/avatar.jpg" /></a>
                </div>
            </header>
            <a href="#" class="image featured"><img src=@(new HtmlString(item.ImageLink)) /></a>
            <p>@(new HtmlString(item.Text))</p>
            <footer>
                <ul class="actions">
					<li>
						<h3 class="authorize">@Html.ActionLink("Continue Reading", "FullNews", "News", new { id = item.Id }, null)</h3>
					</li>
                </ul>
                <ul class="stats">
					<li>@Html.ActionLink(item.Category.ToString(), "Filter", "Home", new { category = item.Category }, null)</li>
                    <li><a href="#" class="icon fa-heart">@Html.DisplayFor(x => item.Rating)</a></li>
                    <li><a href="#" class="icon fa-comment">128</a></li>
                </ul>
            </footer>
        </article>
    }

    <!-- Pagination -->
    <ul class="actions pagination">
        <li><a href="" class="disabled button big previous">Previous Page</a></li>
        <li><a href="#" class="button big next">Next Page</a></li>
    </ul>

</div>
 