@model IEnumerable<Domain.News>

@{
    ViewBag.Title = "Home Page";
}

<div id="main">
    @foreach (var item in Model)
    {

        <article class="post" >
            <header>
                <div class="title">
					<h2>@Html.ActionLink(item.Topic, "FullNews", "News", new { id = item.Id }, null)</h2>
                </div>
                <div class="meta">
                    <time class="published" datetime="2015-11-01">@Html.DisplayFor(x => item.CreationDate)</time>
                    <a href="#" class="author"><span class="name">@Html.DisplayFor(x=>item.Author.UserName)</span><img src="~/images/avatar.jpg" /></a>
                </div>
            </header>
            <a href="#" class="image featured"><img src=@(new HtmlString(item.ImageLink)) /></a>
            <footer>
                <ul class="actions">
						<h3 class="authorize">@Html.ActionLink("Read Article", "FullNews", "News", new { id = item.Id }, null)</h3>
					<li>
					</li>
                </ul>
                <ul class="stats">
					<li>@Html.ActionLink(item.Category.ToString(), "Filter", "Home", new { category = item.Category }, null)</li>
					<li><a href="#" class="icon fa-heart">@Html.DisplayFor(x => item.Rating)</a></li>
					<li><a href="#" class="icon fa-comment">@Html.DisplayFor(x => item.Comment.Count)</a></li>
                </ul>
            </footer>
        </article>
    }

    <!-- Pagination -->
    <ul class="actions pagination">
        <li><a href="" class="disabled button big previous">Previous Page</a></li>
        <li><a href="#" class="button big next">Next Page</a></li>
    </ul>

</div>
 