@model IEnumerable<NewsPortal.Models.News>

@{
    ViewBag.Title = "Index";
}


<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@Styles.Render("~/Content/css")

@foreach (var item in Model) {
   
        <div class="container-fluid">
            <h1>@Html.DisplayFor(x=>item.Topic)</h1>
            <h3><span>@Html.DisplayFor(x => item.Category)</span></h3>
            <ul class="dl-horizontal">
                <li>@Html.DisplayFor(x=>item.Author.FirstName)</li>
                <li>@Html.DisplayFor(x => item.Author.LastName)</li>
               
            </ul>
            <img width="500" height="500" src=@(new HtmlString(item.ImageLink))>
            <div class="text">
                <p> @(new HtmlString(item.Text)) </p>
            </div>  
            <ul class="dl-horizontal">
                <li>Rating: @Html.DisplayFor( x => item.Rating)</li>
                <li>Date: @Html.DisplayFor( x => item.CreationDate)</li>
            </ul>  
            @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
            @Html.ActionLink("Details", "Details", new { id = item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.Id })
        </div>
       
           
}
