

<head>
	<title>News Portal</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
	<link rel="stylesheet" href="~/assets/css/main.css" />
	<!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
	<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
	@RenderSection("Scripts", required: false)

</head>

<body>


	<!-- Wrapper -->
	<div id="wrapper">

		<!-- Header -->
		<header id="header">
			<h1>@Html.ActionLink("News Portal", "Index", "Home")</h1>
			<nav class="links">
				<ul>
					@{  var categories = Enum.GetNames(typeof(Domain.Category));
						foreach (var item in categories)
						{
							<li>@Html.ActionLink(item, "Filter", "Home", new { category = item}, null)</li>
						}
					}

					@Html.Partial("_LoginPartial")
				</ul>
			</nav>
			<nav class="main">
				<ul>
					<li class="search">
						<a class="fa-search" href="#search">Search</a>
						<form id="search" method="get" action="#">
							<input type="text" name="query" placeholder="Search" />
						</form>
					</li>
				@if (Request.IsAuthenticated)
				{
					<li class="menu">
						<a class="fa-bars" href="#menu">Menu</a>
					</li>
				}
				
				</ul>
			</nav>
		</header>





		@RenderBody()

		<!-- Sidebar -->
		<section id="sidebar">

			<!-- Intro -->
			<section id="intro">
				<a href="#" class="logo"><img src="~/images/logo.jpg" alt="" /></a>
				<header>
					<h2>News Portal</h2>
					<p>Share your news</p>
				</header>
			</section>

			<!-- Mini Posts -->
			<section>
				<div class="mini-posts">

					<!-- Mini Post -->
					<article class="mini-post">
						<header>
							<h3><a href="#">Vitae sed condimentum</a></h3>
								<a href="#" class="icon fa-heart"> 10</a>
							<a href="#" class="author"><img src="~/images/avatar.jpg" alt="" /></a>
						</header>
						<a href="#" class="image"><img src="~/images/pic04.jpg" alt="" /></a>
					</article>

					<!-- Mini Post -->
					<article class="mini-post">
						<header>
							<h3><a href="#">Rutrum neque accumsan</a></h3>
							<a href="#" class="icon fa-heart"> 10</a>
							<a href="#" class="author"><img src="~/images/avatar.jpg" alt="" /></a>
						</header>
						<a href="#" class="image"><img src="~/images/pic05.jpg" alt="" /></a>
					</article>

					<!-- Mini Post -->
					<article class="mini-post">
						<header>
							<h3><a href="#">Odio congue mattis</a></h3>
							<a href="#" class="icon fa-heart"> 10</a>
							<a href="#" class="author"><img src="~/images/avatar.jpg" alt="" /></a>
						</header>
						<a href="#" class="image"><img src="~/images/pic06.jpg" alt="" /></a>
					</article>

					<!-- Mini Post -->
					<article class="mini-post">
						<header>
							<h3><a href="#">Enim nisl veroeros</a></h3>
							<a href="#" class="icon fa-heart"> 10</a>
							<a href="#" class="author"><img src="~/images/avatar.jpg" alt="" /></a>
						</header>
						<a href="#" class="image"><img src="~/images/pic07.jpg" alt="" /></a>
					</article>

				</div>
			</section>
		</section>

	</div>
	<hr />
	<footer>
		<p>&copy; @DateTime.Now.Year - gxsham</p>
	</footer>

	<!-- Scripts -->
	<script src="~/assets/js/jquery.min.js"></script>
	<script src="~/assets/js/skel.min.js"></script>
	<script src="~/assets/js/util.js"></script>
	<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
	<script src="~/assets/js/main.js"></script>
</body>

